<!-- Individual Color Picker Modal -->
<div class="modal fade" id="individualColorPickerModal" tabindex="-1" aria-labelledby="individualColorPickerModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content-dark">
            <!-- Modal Header -->
            <div class="modal-header modal-header-dark">
                <h5 class="modal-title" id="individualColorPickerModalLabel">Select Color</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body with Color Picker -->
            <div class="modal-body modal-body-dark">
                <form id="individualColorPickerForm">
                    <div class="mb-3">
                        <label for="individualColorInput" class="form-label" id="colorPickerLabel">Color:</label>
                        <input type="color" class="form-control form-control-color" id="individualColorInput" name="color" value="#ffffff">
                    </div>
                    <button type="button" class="btn btn-primary" id="saveIndividualColorSettings">Save</button>
                </form>
            </div>
        </div>
    </div>
</div> 