<!-- Open Graph meta tags -->
<meta property="og:title" content="Eastern Tales Shelf" />
<meta property="og:description" content="A personal platform for organizing and tracking Eastern novels and manga. Easily link to reading sources, check release statuses, and manage your collection with seamless integration and backups from AniList. Open-source and customizable for your own use." />
<meta property="og:image" content="https://easterntalesshelf.site/static/thumbnail_website.png" />
<meta property="og:url" content="https://easterntalesshelf.site" />
<meta property="og:type" content="website" /> 