aiohappyeyeballs
aiohttp
aiolimiter
aiosignal
aniso8601
annotated-types
anyio
async-timeout
attrs
Automat
beautifulsoup4
bidict
blinker
certifi
cffi
charset-normalizer
click
colorama
constantly
crochet
cryptography
cssselect
defusedxml
distro
exceptiongroup
filelock
Flask
flask-cors
Flask-Login
Flask-SocketIO
Flask-SQLAlchemy==2.5.1
frozenlist
fsspec
gevent
googleapis-common-protos
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core
graphql-relay
greenlet
groq
grpcio
gunicorn
h11
httpcore
httpx
huggingface-hub
hyperlink
idna
importlib-metadata
incremental
itemadapter
itemloaders
itsdangerous
Jinja2
jmespath
lxml
lz4
MarkupSafe
multidict
mysql-connector-python
numpy
openai
packaging
parsel
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
promise
propcache
Protego
protobuf
protoc-gen-openapiv2
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
PyDispatcher
PyJWT
PyMySQL
pyOpenSSL
python-dateutil
python-engineio
python-socketio
PyYAML
queuelib
rank-bm25
regex
requests
requests-file
Rx
safetensors
schedule
Scrapy
service-identity
simple-websocket
singledispatch
six
sniffio
soupsieve
SQLAlchemy<2,>=1.4.54
tenacity
tldextract
tokenizers
tomli
tqdm
transformers
Twisted
typing_extensions
urllib3
voyageai
w3lib
Werkzeug
wrapt
wsproto
yarl
zipp
zope.event
zope.interface
